<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
                <PatternLayout pattern="%level %t thread %c{1}:%M %msg%throwable{5}%n"/>
        </Console>
        <File name="MyFile" fileName="debug.log" immediateFlush="false" append="false">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] %-5level %t %c{1}:%M %msg%throwable{full}%n"/>
        </File>
    </Appenders>
    
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Console" level="INFO"/>
            <AppenderRef ref="MyFile" level="ALL"/>
        </Root>
    </Loggers>
</Configuration>